/* .container {
    border: .2em solid black;
    display: flex;
}

.element {
    text-align: center;
    margin-top: 1.5em;
    position: relative;
    font-size: 2em;
}

.edge span {
    font-size: 0.5em;
    position: absolute;
}

.right-bottom {
    bottom: 0.3em;
    left: 1.2em;
}

.right-top {
    top: 0.3em;
    left: 1.2em;
} */

.standard-pitch-setter {
    margin-left: auto;
    margin-right: 1em;
    cursor: pointer;

    font-weight: bold;

    /* unhighlightable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.standard-pitch {
    color: var(--pitch-setter-accent);
    font-weight: bold;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.standard-pitch-input {
    color: var(--pitch-setter-accent);
    background-color: var(--detail-background);
    font-weight: bold;
    width: 3em;
    /* padding-right: 2.4em; */
    border: none;
    border-radius: 5px;
    padding-left: 0.3em;
    /* margin-left: 0.3em; */
}

.standard-pitch-input:focus {
    outline: none;
}

.commit-icon {
    /* position: absolute;
    top: 0.3333em;
    right: 1.4em; */

    width: 1em;
    vertical-align: middle;
    fill: var(--pitch-setter-accent);
    stroke-width: 1px;
    stroke: var(--pitch-setter-accent);

    cursor: pointer;

    margin-right: 0.2em;
}

.commit-icon:hover {
    /* background-color: lightgreen; */
    filter: drop-shadow(0 0 0.1em var(--pitch-setter-accent));
}

.cancel-icon {
    /* position: absolute;
    top: 0.3333em;
    right: 0.2em; */


    width: 1em;
    vertical-align: middle;
    fill: var(--text-color);
    stroke-width: 1px;
    stroke: var(--text-color);

    cursor: pointer;
}

.cancel-icon:hover {
    filter: drop-shadow(0 0 0.1em var(--text-color));
}