.pitch-wrapper {
    display: flex;
    color: darkslategray;
    align-items: baseline; /* Aligns text on baseline */
    justify-content: space-evenly;
    padding: 0 2em 0 2em;
}

/* .pitch-label-wrapper {
    display: flex;
    flex-direction: column;
} */

.pitch-label {
    font-size: 3em;
    font-weight: bold;
    font-variant: small-caps;
}

.pitch-value {
    font-size: 2em;
    font-weight: bold;
    margin-left: auto;
}

/* SVG */
svg {
    width: 100%;
    height: auto;
    /* background-color: red; */
}

.detail-toggle {
    margin-left: auto;
    color: #888;
    cursor: pointer;
    align-self: flex-end;
}