.generic-tuner-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;

    /* unhighlightable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.note {
    font-size: 2em;
    font-weight: bold;
    /* background-color: gray; */
    /* padding: 1em; */
    margin-right: 0.5em;
    margin-left: 0.5em;
    white-space: nowrap;
    /* text-align: center; */

    will-change: transform;
}

.note-selected {
    color: hsl(0, 100%, 50%);
    transform: scale(1.2, 1.2);
}

.note-tuned {
    color: var(--generic-tuner-note-tuned);
}

.note-held {
    color: var(--generic-tuner-held-accent);
}