.unhighlightable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tuner-display-container {
    display: flex;
    flex-direction: column;
}

.tuner-peg-container {
    display: flex;
    justify-content: space-evenly;
}

.tuner-peg {
    color: hsl(0, 0%, 0%);
    font-size: 1.4rem;
    font-weight: bold;

    /* TODO: make this better */
    margin: 0px 10px 0px 10px;
    border-radius: 100%;
    background-color: hsl(0, 0%, 80%);
    width: 50px;
    height: 50px;
    box-sizing: border-box;

    /* Flexbox so text centered properly */
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in-out;
    /* Transition all properties for smooth effect */

}

.tuner-peg-activated {
    background-color: var(--chip-select);
    color: var(--tuner-text-color);
    transform: scale(1.2);
}

.tuner-peg-tuned {
    background-color: hsl(120, 61%, 70%);
    color: hsl(120, 61%, 30%);
}

.tuner-peg-container-svg {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.tuner-peg-svg-g {
    cursor: pointer;
}

.tuner-peg-svg {
    fill: var(--tuner-peg-background-color);
    stroke-width: 0px;
    transition: all 0.2s ease-in-out;
}

.tuner-peg-svg-text {
    fill: var(--text-color);
    transition: all 0.2s ease-in-out;
}

.tuner-peg-activated-svg {
    fill: var(--tuner-peg-active);
    transform: scale(1.2);
}

.tuner-peg-held-svg {
    /* stroke: var(--tuner-peg-held); */
    stroke: var(--accent-purple);
    stroke-width: 0.75px;
}

.tuner-peg-activated-svg-text {
    fill: var(--tuner-text-color);
    transform: scale(1.2);
}

.tuner-peg-tuned-svg {
    fill: hsl(120, 61%, 70%);
}

.tuner-peg-tuned-svg-text {
    fill: hsl(120, 61%, 30%);
}