#root {
  width: 100%;
  height: 100%;
}

.test-clamped {
  background-color: darkcyan;
  min-width: 500px;
  /* max-width: 400px; */
  /* width: 80%; */
  width: 1000px;

  position: fixed;
  top: 50px;
  left: 50px;
  border: 2px solid red;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  
  /* align-items: flex-start; */
  align-items: stretch;
}

.all-container {
  flex: 0 1 550px;
  /* allow shrink but prefer 550px */
  max-width: 550px;
  min-width: 320px;
  /* NOTE: body resize limit is also 320 so if want smaller edit that too */
  /* TODO: adjust to something more reasonable */

  text-align: center;
  padding: 1rem 0;

  /* On small screens we use display: block, so sidebars actually are after content; use order to reorder for the flex view on large screens */
  order: 2;
}

.sidebar {
  /* prefer 0 pixel size so will shrink to nothing */
  flex: 1 1 0px;
  /* allow to shrink to nothing */
  min-width: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* TODO: is this hacky to do vh? */
}

.sidebar-left {
  order: 1;
}

.sidebar-right {
  order: 3;
}

.card {
  padding: 1em;
  box-shadow: 0 4px 35px var(--card-shadow);
  border-radius: 40px;
  margin: 2em;

  display: flex;
  /* maybe remove later if problem */
  flex-direction: column;
}

@media (max-width: 1050px) {

  /* 250 + 550 + 250 for sidebar + content + sidebar */
  .app-container {
    /* Remove flexbox */
    display: block;
  }

  .sidebar {
    flex: none;
    width: 100%;
    height: auto;
  }

  /* TODO: maybe put this back on flex-dir column I had this as app-container before on accident idk if caused part of prob lol */
  .all-container {
    flex: none;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media (max-width: 450px) { */
@media (max-width: 475px) {
  .card {
    margin: 0.75rem;
  }

  html {
    font-size: 12px;
  }
}