#root {
  /* max-width: 1280px; */
  /* max-width: 550px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center; */
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  /* height: auto; */
  /* align-items: flex-start; */
  align-items: stretch;
}

.all-container {
  flex: 0 1 550px;
  /* allow shrink but prefer 550px */
  max-width: 550px;
  /* min-width: 0; */
  /* min-width: 500px; */
  min-width: 320px;
  /* NOTE: body resize limit is also 320 so if want smaller edit that too */
  /* TODO: adjust to something more reasonable */
  text-align: center;
  padding: 1rem 0;

  order: 2;
}

.sidebar {
  flex: 1 1 0px;
  /* prefer 0 pixel size so will shrink to nothing */
  min-width: 0;
  /* allow to shrink to nothing */
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* TODO: is this hacky to do vh? */
}

.sidebar-left {
  order: 1;
}

.sidebar-right {
  order: 3;
}

.camping-scene {
  position: relative;
  flex: 0 1 auto;
  /* height: 100vh; */
  /* TODO is this hacky...*/
  width: 100%;
  /* border: 3px solid green;
  box-sizing: border-box; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.camping-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  /* background-color: orange; */
}

.bear {
  position: absolute;
  top: 0;
  left: 0;
  /* flex: 0 1 auto; */
  /* height: 6em; */
  /* height: auto; */
  max-width: 75%;
  max-height: 500px;
  /*30em;*/
  /* min-height: 250px; */
  /*15em;*/
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  object-fit: cover;
  cursor: help;

  /* transform: scale(5); */
}

.bear:hover {
  filter: drop-shadow(0 0 1em hsla(237, 100%, 30%, 0.667));
  /* filter: drop-shadow(0 0 1em hsla(41, 91%, 47%, 0.667)); */
}

.campfire {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  /* 50%; */
  will-change: filter;
  transition: filter 300ms;
}

.campfire:hover {
  filter: drop-shadow(0 0 0.5em hsl(40, 99%, 50%));
}

.soot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;

  pointer-events: none;
}

.flame {
  /* position: absolute; */
  /* bottom: 10%; */
  /* 11% */
  /* right: 11%; */
  /* 13% */
  /* width: 23%; */
  /* 25% */
  width: 100%;

  transition: transform 0.5s ease, opacity 1.5s ease;


  filter: brightness(90%) drop-shadow(0 -1em 1em hsl(40, 99%, 50%));

  transform-origin: bottom;
  animation: sway-animation 3s ease-in-out infinite, flicker-flame 5s linear infinite;
}

.flame-container {
  position: absolute;
  bottom: 10%;
  /* 11% */
  right: 11%;
  /* 13% */
  width: 23%;
  /* 25% */

  transform-origin: bottom;
  transition: transform 2.5s ease, opacity 1.5s ease;
  /* transform: scale(0.5); */

  pointer-events: none;
}

.flame-off {
  transform: scale(0);
  opacity: 0;
  /* animation: none;  */
  /* stop sway + flicker */
}

@keyframes sway-animation {
  0% {
    transform: rotate(-1.5deg);
    /* Start slightly rotated left */
  }

  50% {
    transform: rotate(1.5deg);
    /* Sway to the right */
  }

  100% {
    transform: rotate(-1.5deg);
    /* Sway back to the left, completing the cycle */
  }
}

@keyframes flicker-flame {
  0% {
    /* box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7); */
    filter: brightness(90%) drop-shadow(0 -1em 0.75em hsl(40, 99%, 70%));

  }

  25% {
    /* box-shadow: 0 0 15px 8px rgba(255, 0, 0, 0.9); */
    /* filter: drop-shadow(0.15em -1.25em 2em hsl(40, 99%, 90%)); */
    filter: brightness(90%) drop-shadow(0em -1em 1em hsl(40, 99%, 90%));

  }

  50% {
    /* box-shadow: 0 0 8px 3px rgba(255, 0, 0, 0.6); */
    /* filter: drop-shadow(0 -1.25em 1em hsl(40, 99%, 60%)); */
    filter: brightness(90%) drop-shadow(0 -1em 0.65em hsl(40, 99%, 60%));

  }

  75% {
    /* box-shadow: 0 0 12px 6px rgba(255, 0, 0, 0.8); */
    filter: brightness(90%) drop-shadow(0 -1em 0.8em hsl(40, 99%, 80%));

  }

  100% {
    /* box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7); */
    filter: brightness(90%) drop-shadow(0 -1em 0.75em hsl(40, 99%, 70%));

  }
}

.smoke-container {
  transition: opacity 1.5s ease;
  pointer-events: none;
}

.smoke-off {
  opacity: 0;
  /* animation: none; */
}

.smoke-particle {
  position: absolute;
  /* For positioning within the container */
  background-color: hsla(199, 18%, 15%, 0.25);
  /* background-color: magenta; */
  /* Semi-transparent white */
  border-radius: 50%;
  filter: blur(5px);
  /* Adjust blur for desired effect */

  width: 10%;
  height: 50%;

  bottom: 0%;
  right: 16%;

  opacity: 0;


  animation: smoke-animation 6s 10 linear;
  /* animation-delay: var(--delay); */
}

.sp0 {
  animation-delay: 0s;
}

.sp1 {
  animation-delay: 1s;
}

.sp2 {
  animation-delay: 2s;
}

.sp3 {
  animation-delay: 3s;
}

.sp4 {
  animation-delay: 4s;
}

@keyframes smoke-animation {
  0% {
    transform: translateY(0) scale(0.5);
    /* background-color: hsla(199, 18%, 15%, 0.75); */
    opacity: 0;
  }

  50% {
    opacity: 0.7;
    /* background-color: hsla(199, 18%, 15%, 0.5); */
  }

  100% {
    transform: translateY(-100px) rotate(20deg) scale(1.5);
    /* Adjust height and size */
    opacity: 0;
    /* background-color: hsla(199, 18%, 15%, 0.25); */
  }
}

/* SMOKE */
.smoke {
  position: absolute;
  z-index: 40;
  right: 0%;
  bottom: 0%;
  opacity: 1;
  -webkit-transition: all 800ms linear;
  transition: all 800ms linear;

  width: 100%;
  /* max-width: 500px; */
  aspect-ratio: 1 / 1;
}

.smoke span {
  background-color: black;
  right: 13%;
  bottom: 10%;
  display: block;
  position: absolute;
  height: 30%;
  width: 30%;
  opacity: 1;
  /* transform: scale(1.2, 1.2) rotate(-45deg); */
}

@keyframes smokeLeft {
  0% {
    transform: scale(0.2, 0.2) translate(0, 0) rotate(-45deg)
  }

  10% {
    opacity: 1;
    transform: scale(0.2, 0.3) translate(0, -5px) rotate(-45deg)
  }

  60% {
    opacity: 0.6;
    transform: scale(0.3, 0.5) translate(-10px, -80px) rotate(-45deg)
  }

  100% {
    opacity: 0;
    transform: scale(0.4, 0.8) translate(-20px, -120px) rotate(-45deg)
  }
}

@keyframes smokeRight {
  0% {
    transform: scale(0.2, 0.2) translate(0, 0) rotate(-45deg)
  }

  10% {
    opacity: 1;
    transform: scale(0.2, 0.3) translate(0, -5px) rotate(-45deg)
  }

  60% {
    opacity: 0.6;
    transform: scale(0.3, 0.5) translate(10px, -80px) rotate(-45deg)
  }

  100% {
    opacity: 0;
    transform: scale(0.4, 0.8) translate(20px, -120px) rotate(-45deg)
  }
}

.smoke .s-0 {
  animation: smokeLeft 7s 0s infinite
}

.smoke .s-1 {
  animation: smokeRight 7s 0.7s infinite
}

.smoke .s-2 {
  animation: smokeLeft 7s 1.4s infinite
}

.smoke .s-3 {
  animation: smokeRight 7s 2.1s infinite
}

.smoke .s-4 {
  animation: smokeLeft 7s 2.8s infinite
}

.smoke .s-5 {
  animation: smokeRight 7s 3.5s infinite
}

.smoke .s-6 {
  animation: smokeLeft 7s 4.2s infinite
}

.smoke .s-7 {
  animation: smokeRight 7s 4.9s infinite
}

.smoke .s-8 {
  animation: smokeLeft 7s 5.6s infinite
}

.smoke .s-9 {
  animation: smokeRight 7s 6.3s infinite
}

/* ENDSMOKE */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  position: absolute;
  /* left: -5%; */
  left: 12.5%;
  top: 50%;
  transform: scale(5);
  /* max-width: 10%;
  height: auto; */
}

.logo:hover {
  filter: drop-shadow(0 0 1em hsla(237, 100%, 30%, 0.667));
  /* filter: drop-shadow(0 0 1em hsla(41, 91%, 47%, 0.667)); */
  /* filter: drop-shadow(0 0 2em #646cffaa); */
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 1em;
  /* border: 1px solid red; */

  /* box-shadow: 0 4px 35px rgba(0, 0, 0, .1); */
  box-shadow: 0 4px 35px var(--card-shadow);
  border-radius: 40px;
  margin: 2em;

  display: flex;
  /* maybe remove later if problem */
  flex-direction: column;
}

.read-the-docs {
  color: #888;
}


@media (max-width: 1050px) {

  /* 250 + 550 + 250 for sidebar + content + sidebar */
  .app-container {
    /* flex-direction: column;
    align-items: center; */
    display: block;
  }

  .sidebar {
    /* order: 2; */
    flex: none;
    width: 100%;
    height: auto;
  }

  /* TODO: maybe put this back on flex-dir column I had this as app-container before on accident idk if caused part of prob lol */
  .all-container {
    /* order: 1; */
    flex: none;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    /* max-width: none; */
  }
}

@media (max-width: 450px) {
  .card {
    /* margin: 1rem; */
    margin: 0.75rem;
  }

  html {
    font-size: 12px;
  }
}