/* Note this is <html> tag */
:root {
  /* THEME COLORS */
  --color-light-0: hsl(0, 0%, 91%);
  --color-light-0_5: hsl(0, 0%, 79.5%);
  --color-light-1: hsl(0, 0%, 68%);
  --color-light-1_5: hsl(0, 0%, 56.5%);
  --color-light-2: hsl(0, 0%, 45%);
  --color-light-2_5: hsl(0, 0%, 33.5%);
  --color-light-3: hsl(0, 0%, 23%);
  --color-light-3_5: hsl(0, 0%, 11.5%);
  --color-light-4: hsl(0, 0%, 0%);

  --color-dark-0: hsl(0, 0%, 12%);
  --color-dark-0_5: hsl(0, 0%, 23.5%);
  --color-dark-1: hsl(0, 0%, 34%);
  --color-dark-1_5: hsl(0, 0%, 45.5%);
  --color-dark-2: hsl(0, 0%, 56%);
  --color-dark-2_5: hsl(0, 0%, 67.5%);
  --color-dark-3: hsl(0, 0%, 78%);
  --color-dark-3_5: hsl(0, 0%, 89.5%);
  --color-dark-4: hsl(0, 0%, 100%);

  /* BACKGROUND/TEXT COLORS */
  --background-color: var(--color-light-0);
  --text-color: var(--color-light-3_5);

  /* CARD */
  --card-shadow: hsla(0, 0%, 0%, 0.1);

  /* CHIPS */
  --chip-text-color: hsla(0, 0%, 100%, 0.87);
  --chip-regular: var(--color-light-2);
  --chip-hover: var(--color-light-2_5);
  --chip-select: var(--color-light-3);

  /* TUNING SVG */
  --tick-color: var(--color-light-0_5);
  --tick-text-color: var(--color-light-1_5);
  --tick-text-accent-color: black;
  --bubble-background-color: #fff;
  --tune-label-color: var(--color-light-2);

  /* PEGS */
  --tuner-text-color: hsla(0, 0%, 100%, 0.87);
  --tuner-peg-background-color: var(--color-light-0_5);
  --tuner-peg-active: var(--color-light-2_5);

  /* INSTRUMENT SELECT */
  --instr-select-background: var(--color-light-0);
  --instr-select-dropdown-background: var(--color-light-0_5);
  --instr-select-hover: var(--color-light-1);
  --instr-select-selected: var(--color-light-1_5);

  /* MISC */
  --accent-purple: #999eff;
  --detail-background: var(--color-light-0_5);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  --background-color: var(--color-dark-0);
  --text-color: var(--color-dark-3);

  /* CARD */
  --card-shadow: hsla(0, 0%, 91%, 0.1);

  /* CHIPS */
  --chip-text-color: hsla(0, 0%, 0%, 0.87);
  --chip-regular: var(--color-dark-2);
  --chip-hover: var(--color-dark-2_5);
  --chip-select: var(--color-dark-3);


  /* TUNING SVG */
  --tick-color: var(--color-dark-0_5);
  --tick-text-color: var(--color-dark-1_5);
  --tick-text-accent-color: hsl(0, 0%, 90%);
  --bubble-background-color: hsl(0, 0%, 10%);
  --tune-label-color: var(--color-dark-2);

  /* PEGS */
  --tuner-text-color: hsla(0, 0%, 0%, 0.87);
  --tuner-peg-background-color: var(--color-dark-0_5);
  --tuner-peg-active: var(--color-dark-2_5);

  /* INSTRUMENT SELECT */
  --instr-select-background: var(--color-dark-0);
  --instr-select-dropdown-background: var(--color-dark-0_5);
  --instr-select-hover: var(--color-dark-1);
  --instr-select-selected: var(--color-dark-1_5);

  /* MISC */
  --detail-background: var(--color-dark-0_5);
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* Used by Safari for overscroll coloring instead of html tag */
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--accent-purple);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */